  <div class="container">
    <h1>Connect DWN</h1>

    <% if (error) { %>
      <p class="error-message"><%= error %></p>
    <% } %>

    <% if (!did) { %>
      <div class="menu">
       
        <form id="createCommunityDidForm" action="/createDwn" method="POST">
          <input type="hidden" name="useCommunityNode" value="true">
          <button type="submit" class="menu-item">
            <div class="icon">&#128187;</div>
            <span>Community Node</span>
          </button>
        </form>
        
        <form id="createCustomDidForm" action="/createDwn" method="POST">
          <input type="hidden" name="useCommunityNode" value="false">
          <button type="submit" class="menu-item">
            <div class="icon">&#128187;</div>
            <span>Other Node</span>
          </button>
        </form>
      
      
      </div>
    
    <% } else { %>
      <div class="monitoring-panel">
      <p class="success-message">Successfully connected DWN!</p>
      <p>Connected ID: <strong><%= did %></strong></p>
      <p>Protocol Accepted: <strong><%= protocolConfigured %></strong></p>
      </div>
    <% } %>
  </div>

  
  
