<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web5 Portal</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Welcome to Web5 Portal</h1>
    <ul>
        <li><a href="/createDid">Create a DID</a></li>
        <li><a href="/createDwn">Create a DWN</a></li>
        <li><a href="/issueKcc">Issue Kcc</a></li>
        <li><a href="/manageDids">Manage Your DIDs</a></li>
        <li><a href="/manageDwns">Manage Your DWNs</a></li>
    </ul>
</body>
</html>
