<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KCC Web Client</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>KCC Web Client</h1>
        <div class="menu">
            <a href="/createDid" class="menu-item">
                <div class="icon">&#128100;</div>
                <span>Create a DID</span>
            </a>
            <a href="/createDwn" class="menu-item">
                <div class="icon">&#128187;</div>
                <span>Create a DWN</span>
            </a>
            <a href="/issueKcc" class="menu-item">
                <div class="icon">&#128221;</div>
                <span>Issue Kcc</span>
            </a>
        </div>
    </div>
</body>
</html>

