<div class="container">
    <h1><%-header%></h1>
    <div class="menu">
        <a href="/createDid" class="menu-item">
            <div class="icon">&#128100;</div>
            <span>Create a DID</span>
        </a>
        <a href="/createDwn" class="menu-item">
            <div class="icon">&#128187;</div>
            <span>Create a DWN</span>
        </a>
        <a href="/issueKcc" class="menu-item">
            <div class="icon">&#128221;</div>
            <span>Issue Kcc</span>
        </a>
    </div>
  </div>