<div class="container">
    <h1><%-header%></h1>
    <div class="menu">
    
        <a href="/createDwn" class="menu-item">
            <div class="icon">&#128187;</div>
            <span>Connect DWN</span>
        </a>
        <a href="/issueKcc" id="issueKccLink" class="menu-item disabled">
            <div class="icon">&#128221;</div>
            <span>Issue Kcc</span>
          </a>
    </div>
  </div>