<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>kcc web client</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>

</head>
<body>
  <div class="container">
    <!-- Main content area where page-specific content will be injected -->
   
    <%- body %>
  

  <!-- Navigation bar at the bottom of each page -->
  <div class="navigation-bar">
    <!-- Back Button -->
    <div class="nav-button" onclick="goBack()" title="Go Back">
      &#9664; <!-- Left Arrow Icon -->
    </div>

    <!-- Home Button (Centered) -->
    <div class="nav-button center" onclick="goHome()" title="Home">
      &#8962; <!-- Home Icon -->
    </div>

    <!-- Forward Button -->
    <div class="nav-button" onclick="goForward()" title="Go Forward">
      &#9654; <!-- Right Arrow Icon -->
    </div>
  </div>

</div>

  <script>
    function goBack() {
      window.history.back();
    }
    function goHome() {
      window.location.href = '/'; // Adjust to your homepage URL
    }
    function goForward() {
      window.history.forward();
    }
  </script>
</body>
</html>
